USE [master]
GO
/****** Object:  Database [QLBANGIAYDEP]    Script Date: 02/11/2016 11:16:32 AM ******/
CREATE DATABASE [QLBANGIAYDEP]
GO
USE [QLBANGIAYDEP]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserAdmin] [varchar](30) NOT NULL,
	[PassAdmin] [varchar](30) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MADDH] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SIZE] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [decimal](18, 3) NULL,
	[THANHTIEN] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDH] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[DATHANHTOAN] [bit] NULL,
	[TINHTRANGGIAO] [bit] NULL,
	[MAKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[TAIKHOAN] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SDT] [varchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [int] IDENTITY(1,1) NOT NULL,
	[TENNSX] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SDT] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[MANSX] [int] NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[GIABAN] [decimal](18, 3) NULL,
	[MOTA] [nvarchar](4000) NULL,
	[ANHBIA] [varchar](50) NULL,
	[NGAYCAPNHAP] [datetime] NULL,
	[SOLUONGTON] [int] NULL,
	[LUOTMUA] [int] NULL,
	[GIAMGIA] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 02/11/2016 11:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NULL,
	[SIZE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [Hoten]) VALUES (N'admin', N'123456', N'Nine Tailed Fox')
GO
INSERT [dbo].[CTHOADON] ([MADDH], [MASP], [SIZE], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 12, 35, 1, CAST(1600000.000 AS Decimal(18, 3)), CAST(1600000.000 AS Decimal(18, 3)))
GO
INSERT [dbo].[CTHOADON] ([MADDH], [MASP], [SIZE], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, 12, NULL, 1, CAST(1600000.000 AS Decimal(18, 3)), CAST(1600000.000 AS Decimal(18, 3)))
GO
INSERT [dbo].[CTHOADON] ([MADDH], [MASP], [SIZE], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (3, 6, NULL, 1, CAST(1390000.000 AS Decimal(18, 3)), CAST(1390000.000 AS Decimal(18, 3)))
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

GO
INSERT [dbo].[DONDATHANG] ([MADDH], [NGAYDH], [NGAYGIAO], [DATHANHTOAN], [TINHTRANGGIAO], [MAKH]) VALUES (1, CAST(N'2016-10-11T21:00:32.430' AS DateTime), CAST(N'2016-10-13T00:00:00.000' AS DateTime), 1, 0, 1)
GO
INSERT [dbo].[DONDATHANG] ([MADDH], [NGAYDH], [NGAYGIAO], [DATHANHTOAN], [TINHTRANGGIAO], [MAKH]) VALUES (2, CAST(N'2016-10-28T01:12:56.980' AS DateTime), CAST(N'2016-10-29T00:00:00.000' AS DateTime), 0, 0, 1)
GO
INSERT [dbo].[DONDATHANG] ([MADDH], [NGAYDH], [NGAYGIAO], [DATHANHTOAN], [TINHTRANGGIAO], [MAKH]) VALUES (3, CAST(N'2016-10-31T12:50:51.393' AS DateTime), CAST(N'2016-11-02T00:00:00.000' AS DateTime), 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [TAIKHOAN], [MATKHAU], [EMAIL], [DIACHI], [SDT], [NGAYSINH]) VALUES (1, N'Đoàn Thu Thủy', N'uakaongoc', N'123456', N'angelofdeath494@gmail.com', N'1ađá', N'12345678', CAST(N'2006-01-09T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [TAIKHOAN], [MATKHAU], [EMAIL], [DIACHI], [SDT], [NGAYSINH]) VALUES (2, N'Phạm Hải  Băng', N'bangpham123', N'123456', N'blackangelofdeath944@gmail.com', N'ađaljsgjsdgjs', N'123456', CAST(N'1990-10-25T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [GIOITINH]) VALUES (1, N'GIÀY BOOT', 1)
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [GIOITINH]) VALUES (2, N'GIÀY BÚP BÊ', 0)
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [GIOITINH]) VALUES (3, N'GIÀY CAO GÓT', 0)
GO
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON 

GO
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT]) VALUES (1, N'BITES', N'AEON MALL TÂN PHÚ, 30 Bờ Bao Tân Thắng, P. Sơn Kỳ,TPHCM', N'1234567889')
GO
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT]) VALUES (2, N'NIKE PARKSON ', N'Tầng 2, Parkson Đồng Khởi, 35Bis - 45 Lê Thánh Tôn, Q. 1,TPHCM', N'(08)38248787 ')
GO
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT]) VALUES (3, N'ADIDAS HAI BÀ TRƯNG', N'279B Hai Bà Trưng, Q1,TPHCM', N'(08)38202770')
GO
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANSX], [TENSP], [GIABAN], [MOTA], [ANHBIA], [NGAYCAPNHAP], [SOLUONGTON], [LUOTMUA], [GIAMGIA]) VALUES (1, 1, 4, N'Dr. Martens Bốt Cổ Cao 1460 AZTEC', CAST(4190000.000 AS Decimal(18, 3)), N'Dr. Martens Bốt Cổ Cao 1460 AZTEC', N'boot1460bark.jpg', CAST(N'2016-10-10T11:04:51.930' AS DateTime), 50, NULL, NULL)
GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANSX], [TENSP], [GIABAN], [MOTA], [ANHBIA], [NGAYCAPNHAP], [SOLUONGTON], [LUOTMUA], [GIAMGIA]) VALUES (2, 2, 4, N'Clarks Giày Búp Bê Evie Buzz 26117591 Silver', CAST(1090000.000 AS Decimal(18, 3)), N'larks Giày Búp Bê Evie Buzz 26117591 Silver', N'bupbePetulaSadie.jpg', CAST(N'2016-10-10T11:04:51.930' AS DateTime), 50, NULL, NULL)
GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANSX], [TENSP], [GIABAN], [MOTA], [ANHBIA], [NGAYCAPNHAP], [SOLUONGTON], [LUOTMUA], [GIAMGIA]) VALUES (3, 1, 4, N'Dr. Martens Bốt Cổ Cao Pascal 1F66 CHARCOAL', CAST(4290000.000 AS Decimal(18, 3)), N'Dr. Martens Bốt Cổ Cao Pascal 1F66 CHARCOAL', N'bootPascal1F66.jpg', CAST(N'2016-10-10T11:04:51.933' AS DateTime), 50, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[SIZE] ON 

GO
INSERT [dbo].[SIZE] ([MASIZE], [MASP], [SIZE]) VALUES (1, 1, 37)
GO
INSERT [dbo].[SIZE] ([MASIZE], [MASP], [SIZE]) VALUES (2, 1, 38)
GO
INSERT [dbo].[SIZE] ([MASIZE], [MASP], [SIZE]) VALUES (3, 1, 39)
GO
SET IDENTITY_INSERT [dbo].[SIZE] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__161CF724E1466C01]    Script Date: 02/11/2016 11:16:33 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__8C5E61046FE5FC58]    Script Date: 02/11/2016 11:16:33 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  DEFAULT ((0)) FOR [DATHANHTOAN]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  DEFAULT ((0)) FOR [TINHTRANGGIAO]
GO
ALTER TABLE [dbo].[LOAISP] ADD  CONSTRAINT [DF_LOAISP_GIOITINH]  DEFAULT (NULL) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SIZE]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([GIABAN]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([SOLUONGTON]>(0)))
GO
USE [master]
GO
