<a href="@Url.Action("GioHang","GioHang")" style="text-decoration:none;" class="giohang">
    <span class="glyphicon glyphicon-shopping-cart"></span><span class="cart_gh">Giỏ Hàng</span>(@ViewBag.Tongsoluong)
</a>
